{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
<!-- notice_list 페이지-->

<div class="container my-1 justify-content-end">
<h2>사용설명서</h2>
  <div class="col-lg-3">
      구현 예정
  </div><br>
     <div class="card">
       <h4 class="card-body" style="white-space : pre-line">일기 쓰기</h4>
       <div class="card-body" style="white-space : pre-line"><h6>영어로 일기를 쓰고, 제목도 작성하고 저장합니다</h6>
       <h6>공개일기장에서 확인할 수 있습니다.</h6>
       </div>
     </div>

     <div class="card">
       <h4 class="card-body" style="white-space : pre-line">공지사항</h4>
       <div class="card-body" style="white-space : pre-line"><h6>운영자의 개발 진행상황, 공지하는 내용이 포함되어 있습니다.</h6>
       </div>
     </div>
     <div class="card">
       <h4 class="card-body" style="white-space : pre-line">공개일기장</h4>
       <div class="card-body" style="white-space : pre-line"><h6>지금까지 작성했던 영어일기장들을 확인해볼 수 있습니다.</h6>
         <h6>작성한 글은 자동으로 그날의 감정과 추론을 통해 가장 어울리는 세 가지 단어로 Tag에 작성됩니다.</h6>
         <h6>좋은 글이 있다면 하트♡ 를 눌러주세요. 큰 힘이 됩니다!</h6>
       </div>
     </div>
     <div class="card">
       <h4 class="card-body" style="white-space : pre-line">영어사전</h4>
       <div class="card-body" style="white-space : pre-line"><h6>구현 예정</h6>
       </div>
     </div>
<!-- End Card with an image on bottom -->
</div>
</main>
  <!-- End #main -->
{% endblock %}